body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Search Bar */
input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* User Card */
.user-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}

.user-card:hover {
  transform: scale(1.05);
}

.user-card h3 {
  color: #007bff;
  margin: 0 0 10px;
}

.user-card p {
  margin: 5px 0;
  color: #555;
}
.user-card-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.user-card button {
  margin-right: 10px;
  background-color: #28a745;
}

.user-card button:last-child {
  background-color: #dc3545;
}

.user-card button:hover {
  opacity: 0.9;
}

/* User Details */
.user-details {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.user-details h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.user-details p {
  margin: 10px 0;
  color: #555;
}
